<%# title 'Список вопросов' %>
<h1>Список вопросов</h1>
<ul>
<% @questions.each do |question| %>
  <li>
    <%= link_to question.title, question, target: '_self' %>
    <%= image_tag question.image.url, alt: question.title if question.image.present? %>
    <%= question.description.html_safe %>
  </li>
<% end %>
</ul>
