<h1>Список вопросов</h1>
<ul>
<% @questions.each do |question| %>
  <li>
    <%= link_to question.title, question, target: '_self' %>
    <%= question.description.html_safe %>
  </li>
<% end %>
</ul>
