<md-content class="md-whiteframe-z1">
  <section ng-controller="QuestionsIndexController as ctrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>Список вопросов</span>
      </div>
    </md-toolbar>

    <md-content ng-repeat="question in ctrl.questions">
      <img ng-src="{{question.image}}" alt="{{question.title}}" style="width: 100%" ng-if="question.image">
      <md-content class="md-padding">
        <small ng-if="question.category_title">Категория: {{question.category_title}}</small>
        <h3>{{question.title}}</h3>

        <div ng-bind-html="question.description"></div>
        <div layout="row" layout-align="end">
          <md-button ui-sref="questions.show({slug: question.slug})" class="md-raised md-primary" aria-label="Подробнее" style="width: 10em">
            Подробнее
          </md-button>
        </div>
      </md-content>
    </md-content>
  </section>
</md-content>
