<md-content ng-controller="QuestionsShowController as ctrl" class="md-padding">
  <md-progress-circular md-mode="indeterminate" ng-show="ctrl.loading"></md-progress-circular>

  <md-content ng-if="!ctrl.loading" class="md-whiteframe-z1 img-rounded">
    <md-content>
      <img ng-src="{{ctrl.question.image}}" alt="{{ctrl.question.title}}" style="width: 100%" ng-if="ctrl.question.image">
      <md-content class="md-padding">
        <div class="text-right">
          <div ng-social-buttons
              data-url="ctr.currentUrl"
              data-title="ctrl.question.title"
              data-description="ctrl.question.description"
              data-image="ctrl.question.image">
            <div ng-include="'common/social.html'"></div>
          </div>
        </div>

        <h2 class="title">{{::ctrl.question.title}}</h2>
        <div ng-bind-html="::ctrl.question.description"></div>
      </md-content>
    </md-content>

    <md-content layout="row" layout-sm="column" layout-align="space-around" style="padding: 16px;">
      <div layout="column" layout-align="space-around center" md-theme="teal">
        <div>
          {{ctrl.question.pro_votes_count}}
          <ng-pluralize count="ctrl.question.pro_votes_count"
                        when="{zero: '', one: 'сторонник', few: 'сторонника', many: 'сторонников'}"></ng-pluralize>
        </div>
        <p>
          <md-progress-circular mode="determinate" value="{{ctrl.question.$proVotesPercentage()}}">
          </md-progress-circular>
        </p>
        <md-button class="md-raised md-primary" aria-label="Проголосовать за"
                   ng-click="ctrl.saveVote({answer: 'pro'})"
                   ng-disabled="ctrl.vote.answer == 'pro'">
          Проголосовать "За"
        </md-button>
      </div>

      <div layout="column" layout-align="space-around center" md-theme="pink">
        <div>
          {{ctrl.question.con_votes_count}}
          <ng-pluralize count="ctrl.question.con_votes_count"
                        when="{zero: '', one: 'противник', few: 'противника', many: 'противников'}"></ng-pluralize>
        </div>
        <p><md-progress-circular mode="determinate" value="{{ctrl.question.$conVotesPercentage()}}"></md-progress-circular></p>
        <md-button class="md-raised md-primary" aria-label="Проголосовать против"
                   ng-click="ctrl.saveVote({answer: 'con'})"
                   ng-disabled="ctrl.vote.answer == 'con'">
          Проголосовать "Против"
        </md-button>
      </div>
    </md-content>

    <md-content layout="column" layout-gt-sm="row">
      <div md-theme="teal" flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span>{{::ctrl.question.pros_title}}</span>
          </div>
        </md-toolbar>
        <md-list>
          <md-item ng-repeat="argument in ctrl.question.pros">
            <md-item-content ng-class="{'md-whiteframe-z5': argument.$checked}" class="transition">
              <div class="md-tile-content">
                <md-checkbox ng-model="argument.$checked" style="margin-left: 0">
                  <h3>{{::argument.title}}</h3>
                </md-checkbox>
                <p ng-bind-html="::argument.description"
                   ng-click="argument.$checked = !argument.$checked"
                   class="pointer"></p>
              </div>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>
          <md-item>
            <md-item-content>
              <div class="md-tile-content text-center">
                <md-button class="md-primary" ng-click="ctrl.addArgument({_type: 'Pro'})">
                  &nbsp;Добавить аргумент&nbsp;
                </md-button>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </div>

      <div md-theme="pink" flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <span>{{::ctrl.question.cons_title}}</span>
          </div>
        </md-toolbar>
        <md-list>
          <md-item ng-repeat="argument in ctrl.question.cons">
            <md-item-content ng-class="{'md-whiteframe-z5': argument.$checked}" class="transition">
              <div class="md-tile-content">
                <md-checkbox ng-model="argument.$checked" style="margin-left: 0">
                  <h3>{{::argument.title}}</h3>
                </md-checkbox>
                <p ng-bind-html="::argument.description"
                   ng-click="argument.$checked = !argument.$checked"
                   class="pointer"></p>
              </div>
            </md-item-content>
            <md-divider></md-divider>
          </md-item>
          <md-item>
            <md-item-content>
              <div class="md-tile-content text-center">
                <md-button class="md-primary" ng-click="ctrl.addArgument({_type: 'Con'})">
                  &nbsp;Добавить аргумент&nbsp;
                </md-button>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </div>
    </md-content>
  </md-content>
</md-content>
