<md-dialog aria-label="Авторизация">
  <md-toolbar>
    <h2 class="md-toolbar-tools">
      Авторизация
    </h2>
  </md-toolbar>

  <md-content layout="row">
      <md-button style="width: 10em" class="md-raised" ng-href="/auth/twitter" target="_self" aria-label="Twitter">
        Twitter
      </md-button>
      &nbsp;
      <md-button style="width: 10em" class="md-raised" ng-href="/auth/vkontakte" target="_self" aria-label="Vkontakte">
        Vkontakte
      </md-button>
  </md-content>
</md-dialog>
