/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require angular-material/angular-material
 *= require angular-material/themes/pink-theme
 *= require angular-material/themes/teal-theme
 *= require angular-material/themes/blue-grey-theme
 *= require angular-material/themes/cyan-theme
 *= require_tree .
 *= require_self
 */
body {
    min-width: 500px;
    padding-top: 75px;
}

.app-container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}

.ui-view-container {
    position: relative;
}
[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    transition:all 1s ease-in-out;
}
[ui-view].ng-enter {
    opacity: 0;
}
[ui-view].ng-enter-active {
    opacity: 1;
}
[ui-view].ng-leave {
    opacity: 1;
}
[ui-view].ng-leave-active {
    opacity: 0;
}

.img-circle {
    border-radius: 50%;
}
