<!DOCTYPE html>
<html>
<head>
  <title>Polemize</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <base href="/">
</head>
<body ng-app="polemize">

<!-- Static content of Ruby on Rails -->
<div ng-hide="true"><%= yield %></div>

<!-- Dynamic content of AngularJS -->
<div ui-view></div>

<%= javascript_include_tag 'application' %>
</body>
</html>
